<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Online Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/style.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/bootstrap.css" rel="stylesheet"/>
<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
<div>
  <div>
    <div>
      <div left="450px" top="40px" width="400px" > <a href="/">Trang chủ</a> | <a href="/1">Danh sách sản phẩm đang bán</a> | <a href="/0">Danh sách sản phẩm ẩn</a> </lu></div> 
      <!-- end nav -->
    <!-- end header -->
    <div id="wrapper">
      <div class="inner">
        <div class="span9">
          {{{body}}}
        </div>
      </div>
    </div>
    <!-- end footer -->
  </div>
  <!-- end inner -->
</div>
<!-- end wrapper -->
</body>
</html>
