<main>
    <form action="">
        <h2>đăng nhập</h2>
        <label for="email">email</label>
        <input type="text" name="email" />
    
        <label for="password">password</label>
        <input type="password" name="password" />
        <br>
        <input name="Login" value="Đăng nhập" type="button">
    </form>
</main>

<script>

</script>